<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ details?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="details">
    <div class="ion-text-center">
      <img style="max-height: 250px;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{details.id | number:'3.0-0'}}.png"/>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-capitalize">#{{ details.id }} {{ details.name }}</ion-card-title>
        <ion-card-subtitle>
          <ion-chip [ngClass]="t.type.name" *ngFor="let t of details.types">
            <ion-label class="ion-text-capitalize">{{ t.type.name }}</ion-label>
          </ion-chip>
          <p><b>Height</b>: {{ (details.height / 10) | number:'1.2-2' }} m</p>
          <p><b>Weight</b>: {{ (details.weight / 10) | number:'1.2-2' }} kg</p>
          <p><b>Base Experience</b>: {{ details.base_experience }}</p>
          <p><b>Abilities</b>:</p>
          <ul>
            <li class="ion-text-capitalize" *ngFor="let a of details.abilities">{{ a.ability.name }}</li>
          </ul>
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list lines="full">
          <ion-list-header>
            <b>Base Stats</b>
          </ion-list-header>
          <ion-item *ngFor="let s of details.stats" class="ion-text-capitalize">
            <ion-label slot="start"><b>{{ s.stat.name }}:</b></ion-label>
            <ion-label slot="end">
              {{ s.base_stat }}
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label slot="start"><b>Total:</b></ion-label>
            <ion-label slot="end">
              <b>{{ statsSum }}</b>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="evolutionChainDetailsList">
      <h4>Evolution Chart</h4>

      <ion-grid>
        <ion-row *ngFor="let ecd of evolutionChainDetailsList; let isLast = last">
          <ng-container *ngIf="(ecd.triggerName == 'level-up' && ecd.minLevel); else itemEvolution">
            <ion-col class="ion-text-center" size="12">
              <span>(Level {{ecd.minLevel}})</span>
            </ion-col>
          </ng-container>
          <ng-template #itemEvolution>
            <ng-container *ngIf="ecd.triggerName == 'use-item' && ecd.item">
              <ion-col class="ion-text-center" size="12">
                <p class="ion-text-capitalize">(Use <b>{{ecd.item.name}}</b>)</p>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/{{ecd.item.name}}.png"/>
              </ion-col>
            </ng-container>
          </ng-template>

          <ion-col size="9">
            <img style="max-height: 150px;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{ecd.pokemonIndex | number:'3.0-0'}}.png" />
          </ion-col>
          <ion-col size="3">
            <p><b>#{{ecd.pokemonIndex}}</b></p>
            <p class="ion-text-capitalize">{{ecd.speciesName}}</p>
          </ion-col>
          <ion-col class="ion-text-center" *ngIf="!isLast" size="12">
            <h1><ion-icon name="arrow-down-outline"></ion-icon></h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </ng-container>
</ion-content>
